.findDocsPageContainer{
    background-color: #1C1F27;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: white;
    background: -webkit-linear-gradient(to bottom, #0b0d30, #223767);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0b0d30, #223767); 
}

.findDocsPageContent{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}


.orgNameContainer{
    display: flex;
    align-items: center;
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.verifyIcon{
    height: 1.5rem;
    width: 1.5rem;
    /* background-color: rgb(33, 120, 219); */
    border-radius: 50vh;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.verifyBtn{
    cursor: pointer;
    padding: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: #E3E3E3;
    color: #1C1F27;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-left: 2rem;

}

.subTitle{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.subTitleResults{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.recordSearchForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    max-width: 600px;
    color: white;
    margin-bottom: 1rem;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    justify-content: center;
}

.inputLabel{
    margin-bottom: 0.2rem;
    margin-left: 30px;
}

.customInput{
    width: 100%;
    padding: 12px;
    background-color: #2A2D37;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-bottom: 4px #525252 solid;
}

.docListContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.docCard{
    /* background-color: #3b3b3b; */
    background-image: linear-gradient(to bottom, indigo, rgba(68, 0, 68, 0.3));
    /* background-color: ; */
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 0.8rem;
}

.docCardTitle{
    font-size: 1.1rem;
}

.docCardOrg{
    font-style: italic;
    color: #cacaca;
}