.verify-bg {
  
  width: 99vw;
  height: 50vw;
  left: 0;
  position: absolute;
  object-fit: contain;
  /* background-repeat: repeat; */
  background-size: cover;
}

.card-bg {
  backdrop-filter: blur(14px);
  background-color: rgb(66, 63, 63, 0.2) !important;
  /* background-color: rgba(255, 255, 255, 0.1); */
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  /* opacity: 0.8; */
}

.card-verify {
  margin-right: auto;
  margin-left: auto;
  width: 80vw;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 25vh;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  text-align: center;
}

#custom-input {
  background: transparent !important;
}

.mainContainer{
  width: 100%;
  height: 100vh;
  background-image: url("../images/block.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerBtn{
  font-weight: bold;
  font-size: 1.5rem;
  /* padding: 10px 40px; */
  cursor: pointer;
  background-color: rgb(196, 113, 255);
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.registerBtn:hover{
  background-color: rgb(142, 67, 196);
}